extends layout

block content
    h3 Successfully booked appointment on&nbsp
        t= appDate
        t &nbspat&nbsp
        t= appTime
    h5 It will be sent for approval. Once approved you will recieve a confirmation email
