extends layout

block content
	form(method="post", action="/new")
		p
			t Date: 
			input(type="text", name="app_date", placeholder="Enter a date")
		p
			t Time: 
			input(type="text", name="app_time", placeholder="Enter a time")
		p
			textarea(rows="10", cols="60", name="comments")
		p
			input(type="submit", value="Create")